body,
input,
select,
button {
  font-family: $defaultFont;
}

h1, h2, h3 {
    font-family: $headingFont;
}

h1 {
    font-weight: 800;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: $neutralMax;
    text-transform: uppercase;
    text-align: center;
    @include mobile {
        font-size: 50px;
        line-height: 52px;
    }
}

h2 {
    font-family: $headingFont;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: $accent3;
    text-transform: uppercase;
    position: relative;
    @include mobile {
        font-size: 30px;
    }
}

.container > h2 {
    margin-top: 140px;
    @include mobile {
        margin-top: 140px;
        padding-bottom: 70px;
    }
    &::before {
        content: '';
        width: 100px;
        border: 0.5px solid $accent3;
        background-color: $accent3;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: -30px;
    }
}