$headingFont: 'Montserrat', sans-serif;
$defaultFont: 'Open Sans', sans-serif;
$specialFont: 'Source Sans Pro', sans-serif;
$neutralMin: #000000;
$neutralMax: #FFFFFF;
$accent1: #55B7FF;
$accent2: #7E5AFF;
$linearGradient1: linear-gradient(243.43deg, $accent1 16.9%, $accent2 83.27%);
$linearGradient2: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);