html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body,
input,
select,
button {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
}

body {
  max-width: 1600px;
  width: 100%;
}

.container {
  padding: 0 215px;
}

.main-header {
  background-image: url("../assets/bg-header.png"), linear-gradient(243.43deg, #55B7FF 16.9%, #7E5AFF 83.27%);
  background-size: cover;
  background-repeat: no-repeat;
}
.main-header .main-header__nav {
  padding-top: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header .main-header__nav .main-nav {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
.main-header .main-header__nav .main-nav .main-nav__item a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.main-header .main-header__nav .main-nav .main-nav__item a::before {
  content: "";
  width: 9px;
  height: 9px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  margin-right: 14px;
}
.main-header .main-header__nav .social-nav {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main-header .main-header__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-top: 223px;
}
.main-header .main-header__content span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 20px;
}
.main-header .main-header__content::after {
  content: url(../assets/arrow.svg);
  display: block;
  padding-top: 240px;
  padding-bottom: 50px;
}/*# sourceMappingURL=main.css.map */