html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body,
input,
select,
button {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 870px) {
  h1 {
    font-size: 50px;
    line-height: 52px;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 870px) {
  h2 {
    font-size: 30px;
  }
}

.container > h2 {
  margin-top: 140px;
}
@media (max-width: 870px) {
  .container > h2 {
    margin-top: 140px;
    padding-bottom: 70px;
  }
}
.container > h2::before {
  content: "";
  width: 100px;
  border: 0.5px solid #2C4058;
  background-color: #2C4058;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: -30px;
}

.see-more {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 41px;
  border: 1px solid #2C4058;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 41px;
  border: 1px solid #2C4058;
  background-color: #FFFFFF;
}

body {
  max-width: 1600px;
  width: 100%;
}

.container {
  padding: 0 215px;
}
@media (min-width: 871px) and (max-width: 1224px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 870px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1225px) and (max-width: 1450px) {
  .container {
    padding: 0 100px;
  }
}

.main-header {
  background-image: url("../assets/bg-header.png"), linear-gradient(243.43deg, #55B7FF 16.9%, #7E5AFF 83.27%);
  background-size: cover;
  background-repeat: no-repeat;
}
.main-header .main-header__nav {
  padding-top: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 870px) {
  .main-header .main-header__nav {
    padding-top: 30px;
    align-items: flex-start;
  }
}
@media (max-width: 870px) {
  .main-header .main-header__nav .logo img {
    width: 150px;
  }
}
@media (min-width: 871px) and (max-width: 1224px) {
  .main-header .main-header__nav .logo img {
    width: 150px;
  }
}
.main-header .main-header__nav .toggle-menu {
  position: absolute;
  right: 20px;
  top: 40px;
  display: none;
}
@media (max-width: 870px) {
  .main-header .main-header__nav .toggle-menu {
    display: block;
  }
}
.main-header .main-header__nav .toggle-menu .hamburger {
  position: relative;
  display: block;
  width: 25px;
  height: 3.5px;
  border-radius: 10px;
  background-color: #FFFFFF;
  transition: 0.3s;
}
.main-header .main-header__nav .toggle-menu .hamburger::before, .main-header .main-header__nav .toggle-menu .hamburger::after {
  content: "";
  border-radius: 10px;
  background-color: #FFFFFF;
  position: absolute;
  width: 25px;
  height: 3.5px;
}
.main-header .main-header__nav .toggle-menu .hamburger::before {
  top: -8px;
  transition: 0.3s;
}
.main-header .main-header__nav .toggle-menu .hamburger::after {
  top: 8px;
  transition: 0.3s;
}
.main-header .main-header__nav .toggle-menu.active .hamburger {
  background: transparent;
}
.main-header .main-header__nav .toggle-menu.active .hamburger::before {
  transform: translateY(8px) rotate(45deg);
}
.main-header .main-header__nav .toggle-menu.active .hamburger::after {
  transform: translateY(-8px) rotate(-45deg);
}
.main-header .main-header__nav .main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 110px;
       column-gap: 110px;
}
@media (max-width: 870px) {
  .main-header .main-header__nav .main-menu {
    flex-direction: column;
  }
}
@media (min-width: 871px) and (max-width: 1224px) {
  .main-header .main-header__nav .main-menu {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.main-header .main-header__nav .main-nav {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 870px) {
  .main-header .main-header__nav .main-nav {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 25px;
    row-gap: 30px;
    position: absolute;
    right: -100%;
    top: 70px;
    background: url("../assets/bg-header.png"), linear-gradient(243.43deg, #55B7FF 16.9%, #7E5AFF 83.27%);
    background-position-y: bottom;
    width: 100%;
    height: -webkit-fill-available;
    padding-left: 30px;
    transition: 0.3s;
  }
  .main-header .main-header__nav .main-nav.active {
    right: 0;
    z-index: 2;
    height: -webkit-fill-available;
  }
}
@media (min-width: 871px) and (max-width: 1224px) {
  .main-header .main-header__nav .main-nav {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.main-header .main-header__nav .main-nav .main-nav__item a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.main-header .main-header__nav .main-nav .main-nav__item a:hover::before {
  background: #FFFFFF;
}
@media (max-width: 870px) {
  .main-header .main-header__nav .main-nav .main-nav__item a {
    font-size: 25px;
  }
}
@media (min-width: 871px) and (max-width: 1224px) {
  .main-header .main-header__nav .main-nav .main-nav__item a {
    font-size: 10px;
  }
}
.main-header .main-header__nav .main-nav .main-nav__item a::before {
  content: "";
  width: 9px;
  height: 9px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  margin-right: 14px;
}
.main-header .main-header__nav .social-nav {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 870px) {
  .main-header .main-header__nav .social-nav {
    display: none;
  }
}
@media (min-width: 871px) and (max-width: 1224px) {
  .main-header .main-header__nav .social-nav {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.main-header .main-header__nav .social-nav a:hover img {
  background: black;
  border-radius: 50%;
}
@media (min-width: 871px) and (max-width: 1224px) {
  .main-header .main-header__nav .social-nav img {
    width: 30px;
  }
}
.main-header .main-header__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-top: 223px;
}
@media (max-width: 870px) {
  .main-header .main-header__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-header .main-header__content .owl-carousel {
  display: flex;
  align-items: center;
}
.main-header .main-header__content .change-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.main-header .main-header__content .change-content span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
}
.main-header .main-header__content a {
  margin-top: 240px;
  margin-bottom: 50px;
}
.main-header .main-header__content a img {
  border: 0.5px solid #FFFFFF;
  border-radius: 50%;
}
.main-header .main-header__content a:hover img {
  border: none;
  background: black;
  border-radius: 50%;
}

.projects .projects__title {
  margin-top: 0;
  padding-top: 140px;
}
.projects .projects__title::before {
  top: 110px;
}
.projects .flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 100px;
}
.projects .flex-container .project {
  padding-top: 119px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 870px) {
  .projects .flex-container .project {
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 0;
  }
  .projects .flex-container .project:last-child {
    flex-direction: column-reverse;
  }
}
.projects .flex-container .project .projects__image {
  position: relative;
  width: 48%;
}
@media (max-width: 870px) {
  .projects .flex-container .project .projects__image {
    width: 100%;
    padding-top: 40px;
  }
}
@media (max-width: 870px) {
  .projects .flex-container .project .projects__image:last-child {
    padding-top: 0;
    padding-bottom: 100px;
  }
}
.projects .flex-container .project .projects__image img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media (max-width: 870px) {
  .projects .flex-container .project .projects__image img {
    position: relative;
  }
}
.projects .flex-container .project .project-one img {
  box-shadow: -215px -57px 0 #55B7FF;
}
@media (max-width: 870px) {
  .projects .flex-container .project .project-one img {
    box-shadow: -35px -57px 0 #55B7FF;
  }
}
.projects .flex-container .project .project-two img {
  box-shadow: 215px -57px 0 #7E5AFF;
}
@media (max-width: 870px) {
  .projects .flex-container .project .project-two img {
    box-shadow: 35px 57px 0 #7E5AFF;
  }
}
.projects .flex-container .project .projects__content {
  padding-top: 40px;
  width: 48%;
}
@media (max-width: 870px) {
  .projects .flex-container .project .projects__content {
    width: 100%;
    text-align: center;
  }
  .projects .flex-container .project .projects__content:first-child {
    padding-top: 0;
  }
}
.projects .flex-container .project .projects__content .projects__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
  padding-top: 100px;
}
.projects .flex-container .project .projects__content h2 {
  text-align: left;
  padding-bottom: 19px;
}
@media (max-width: 870px) {
  .projects .flex-container .project .projects__content h2 {
    text-align: center;
  }
}
.projects .flex-container .project .projects__content .projects__text {
  padding-bottom: 41px;
  font-size: 18px;
  line-height: 30px;
}
.projects .flex-container .project .projects__content .see-more {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 60px;
}
.projects .flex-container .project .projects__content .see-more:hover {
  background-color: #000000;
  color: #FFFFFF;
}
@media (max-width: 870px) {
  .projects .flex-container .project .projects__content .see-more {
    margin-left: auto;
    margin-right: auto;
  }
}
.projects .flex-container .project .projects__content .projects__location {
  font-size: 15px;
  line-height: 20px;
  font-style: italic;
}
.projects .flex-container .project .projects__content .projects__location::before {
  content: url("../assets/icon-location.svg");
  padding-right: 10px;
}

.news {
  background-image: url("../assets/bg-news.png"), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 140px;
}
.news h2 {
  padding-top: 135px;
  color: #FFFFFF;
  padding-bottom: 89px;
}
.news h2::before {
  top: 105px;
  border: 0.5px solid #FFFFFF;
  background-color: #FFFFFF;
}
.news .news__article {
  background-color: #FFFFFF;
}
.news .news__article h3 {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.news .news__article p {
  padding: 0 20px;
  padding-bottom: 39px;
}
.news .news__article .author {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  padding-bottom: 30px;
  width: 100%;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.news .news__article .author .author__photo {
  width: 30%;
  border-radius: 50%;
}
.news .news__article .author .author__info .author__name {
  text-transform: uppercase;
  line-height: 22px;
}
.news .news__article .author .author__info .publishing-date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.gallery h2 {
  padding-bottom: 89px;
}
@media (max-width: 870px) {
  .gallery h2 {
    padding-bottom: 41px;
  }
}
.gallery .gallery__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 60px;
  max-width: 1170px;
  width: 100%;
}
@media (max-width: 870px) {
  .gallery .gallery__images {
    display: block;
    padding-bottom: 0;
  }
}
.gallery .gallery__images .img-one {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery .gallery__images .img-two,
.gallery .gallery__images .img-three,
.gallery .gallery__images .img-four,
.gallery .gallery__images .img-five {
  grid-row: span 1;
  grid-column: span 1;
}
.gallery .gallery__images img {
  width: 100%;
}
.gallery .gallery__button {
  display: flex;
  justify-content: center;
}
.gallery .gallery__button .see-more:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.contact {
  background-image: url("../assets/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 400px;
  margin-top: 140px;
}
@media (max-width: 870px) {
  .contact {
    padding-top: 0;
    margin-top: 70px;
  }
}
.contact .form {
  background-color: #FFFFFF;
  padding: 60px;
  max-width: 770px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: -150px;
  left: 0;
  right: 0;
}
@media (max-width: 870px) {
  .contact .form {
    padding: 40px 20px;
  }
}
.contact .form h2 {
  margin-top: 40px;
}
.contact .form h2::before {
  content: "";
  width: 100px;
  border: 0.5px solid #2C4058;
  background-color: #2C4058;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: -30px;
}
.contact .form .form__info {
  padding-top: 42px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 54px;
       column-gap: 54px;
  width: 100%;
}
@media (max-width: 870px) {
  .contact .form .form__info {
    display: block;
  }
}
.contact .form .form__info .contact__info {
  font-size: 18px;
  line-height: 28px;
  width: calc(50% - 37px);
}
@media (max-width: 870px) {
  .contact .form .form__info .contact__info {
    width: 100%;
  }
}
.contact .form .form__info .contact__info ul li {
  padding-bottom: 30px;
}
.contact .form .form__info .contact__info ul li i {
  padding-right: 10px;
  color: #7E5AFF;
}
.contact .form .form__info .contact__form {
  width: calc(50% - 27px);
  position: relative;
}
@media (max-width: 870px) {
  .contact .form .form__info .contact__form {
    width: 100%;
  }
}
.contact .form .form__info .contact__form ul li {
  padding-bottom: 30px;
}
.contact .form .form__info .contact__form ul li label, .contact .form .form__info .contact__form ul li input {
  font-size: 18px;
  line-height: 28px;
}
.contact .form .form__info .contact__form ul li label {
  display: none;
}
.contact .form .form__info .contact__form ul li input[type=text], .contact .form .form__info .contact__form ul li input[type=email] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #2C4058;
}
.contact .form .form__info .contact__form ul li input[type=text]::-moz-placeholder, .contact .form .form__info .contact__form ul li input[type=email]::-moz-placeholder {
  color: #4B5562;
  opacity: 0.5;
}
.contact .form .form__info .contact__form ul li input[type=text]:-ms-input-placeholder, .contact .form .form__info .contact__form ul li input[type=email]:-ms-input-placeholder {
  color: #4B5562;
  opacity: 0.5;
}
.contact .form .form__info .contact__form ul li input[type=text]::placeholder, .contact .form .form__info .contact__form ul li input[type=email]::placeholder {
  color: #4B5562;
  opacity: 0.5;
}
.contact .form .form__info .contact__form ul li input[type=text]:focus, .contact .form .form__info .contact__form ul li input[type=email]:focus {
  outline: 0;
  border-bottom: 1px solid #7E5AFF;
}
.contact .form .form__info .contact__form ul li .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.contact .form .form__info .contact__form ul li .btn:hover {
  background-color: #000000;
  color: #FFFFFF;
}
@media (max-width: 870px) {
  .contact .form .form__info .contact__form ul li .btn {
    width: 100%;
    position: relative;
  }
}
.contact .form .form__info .contact__form ul li:last-child {
  padding-bottom: 0;
}

.main-footer {
  background-image: url("../assets/bg-footer.png"), linear-gradient(243.43deg, #55B7FF 16.9%, #7E5AFF 83.27%);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 214px;
  padding-bottom: 233px;
}
@media (max-width: 870px) {
  .main-footer {
    padding-bottom: 70px;
  }
}
.main-footer .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 770px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
@media (max-width: 870px) {
  .main-footer .flex-container {
    flex-direction: column;
    align-items: center;
    row-gap: 41px;
  }
}
.main-footer .flex-container .main-footer__credit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 41px;
}
.main-footer .flex-container .main-footer__credit .copyright {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
@media (max-width: 870px) {
  .main-footer .flex-container .main-footer__credit .copyright {
    text-align: center;
  }
}
.main-footer .flex-container .social-nav {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main-footer .flex-container .social-nav a:hover img {
  background: black;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */